.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  .power {
    height: 100px;
    width: 50px;
    border: 1px solid black;
    &.on {
      background-color: green;
    }
  }
  
  .grid-container > div {
    background-color: white;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    &.on {
        background-color: yellow;
    }
  }